<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../stylesheets/style.css"> -->
</head>
<body>
    <div id="back">
        <nav>
            <a href="/">Car Seller</a>
            <a href="/sell/0">Buy/Sell</a>
            <a href="/profile">Profile</a>
            <% if(isLoggedInval) { %>
            <a href="/logout">Logout</a>
            <% } %>
        </nav>
    </div>

